<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.4.8100.0">
	<connectionStrings>
		<add connectionString="data source=DESKTOP-PORIVCO;Integrated Security=SSPI;initial catalog=TrainingInstance" name="Sitefinity" />
		<add connectionString="Data Source=DESKTOP-PORIVCO;Initial Catalog=TrainingInstance_Diagnostics;Integrated Security=True" name="SitefinityDiagnosticsModule" />
	</connectionStrings>
</dataConfig>