<!DOCTYPE html>

<html>
    <head>
        <title>
            Configuration Demo
        </title>
        <meta charset="utf-8" />
        <link href="~/StyleSheet.css" rel="stylesheet" />
    </head>
    <body>
        <div>
            <h1>HOME</h1>

            <div class="box">
                <div>@ViewBag.Mykey</div>
                <div>@ViewBag.Mykey2</div>
            </div>
        </div>
    </body>
</html>